In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import urllib.parse
import pymongo
import pprint
import pandas as pd

In [2]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
# Define database and collection
db = client.stocks
collection = db.large_cap

In [4]:
url = 'https://www.barchart.com/stocks/most-active/price-volume-leaders?screener=large_cap'
response = requests.get(url)
print(response.status_code)

403

In [3]:
# searchterm = urllib.parse.quote('left bold plusIconTd elp')
# print(searchterm)

In [5]:
# SCRAPING 
# Set the executable path and initialize the chrome browser in splinter
executable_path = {"executable_path":"chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)
browser.visit("https://www.barchart.com/stocks/most-active/price-volume-leaders?screener=large_cap")

In [6]:
# Convert the browser html to a soup object 
soup = browser.html
stock_soup = BeautifulSoup(soup, 'html.parser')

In [6]:
#print(stock_soup.prettify())

In [7]:
stock_symbol = stock_soup.find("td", class_= "symbol text-left").text
print(stock_symbol)

         AAPL

In [8]:
stock_name = stock_soup.find("td", class_= "symbolName text-left").text
print(stock_name)

       Apple Inc

In [9]:
stock_price = stock_soup.find("td", class_= "lastPrice").text
print(stock_price)

       299.40

In [10]:
stock_volume = stock_soup.find("td", class_= "volume").text
print(stock_volume)

       29,240,996

In [11]:
stock_change = stock_soup.find("td", class_= "percentChange down").text
print(stock_change)

       -0.17%

In [12]:
stock_symbol_all = stock_soup.find_all("td", class_= "symbol text-left")
stock_name_all = stock_soup.find_all("td", class_= "symbolName text-left")
stock_price_all = stock_soup.find_all("td", class_= "lastPrice")
stock_volume_all = stock_soup.find_all("td", class_= "volume")
stock_change_all = stock_soup.find_all("td", class_= "priceChange down")


# print(stock_symbol_all)

# print(stock_name_all)

# print(stock_price_all)

# print(stock_volume_all)

# print(stock_change_all)

In [13]:
symbol =[]
for stock in stock_symbol_all:
    #print(stock.text)
    symbol_list = symbol.append(stock.text)
    #print(symbol)

In [14]:
price =[]
for stock in stock_price_all:
    #print(stock.text)
    price_list = price.append(stock.text)
    #print(price)

In [15]:
volume = []   
for vol in stock_volume_all:
    #print(vol.text)
    volume_list = volume.append(vol.text)
    #print(volume)

In [16]:
name = []   
for names in stock_name_all:
    #print(names.text)
    names_list = name.append(names.text)
    #print(name)

In [17]:
change = []   
for names in stock_change_all:
    #print(names.text)
    change_list = change.append(names.text)
    #print(change)

In [18]:
# Convert to Pandas dataframe and export in csv
df = pd.DataFrame({'stock_name':name, 'stock_symbol':symbol,'stock_price':price, 'stock_volume':volume}) 
df

,stock_name,stock_symbol,stock_price,stock_volume
0,Apple Inc,AAPL,299.40,"29,240,996"
1,Amazon.com Inc,AMZN,"1,902.88","3,928,228"
2,Tesla Inc,TSLA,451.54,"10,093,967"
3,Facebook Inc,FB,212.60,"16,174,866"
4,Microsoft Corp,MSFT,159.03,"19,221,572"
5,Alibaba Group Holding,BABA,216.64,"11,704,716"
6,Alphabet Cl A,GOOGL,"1,397.81","1,729,032"
7,Adv Micro Devices,AMD,48.39,"46,099,852"
8,Alphabet Cl C,GOOG,"1,394.21","1,549,304"
9,Roku Inc,ROKU,143.37,"14,283,205"
10,Visa Inc,V,189.19,"10,052,306"
11,Netflix Inc,NFLX,335.83,"5,593,508"
12,Boeing Company,BA,333.74,"5,110,267"
13,Salesforce.com Inc,CRM,173.45,"8,729,865"
14,Nvidia Corp,NVDA,237.06,"6,358,476"
15,Bank of America Corp,BAC,34.85,"40,688,063"
16,AT&T Inc,T,39.10,"36,059,891"
17,Exxon Mobil Corp,XOM,70.87,"19,721,324"
18,General Electric Company,GE,12.14,"109,518,703"
19,JP Morgan Chase & Company,JPM,138.23,"9,029,627"
20,Walt Disney Company,DIS,145.65,"8,158,696"
21,Crowdstrike Holdings Inc,CRWD,55.11,"21,442,264"
22,Cisco Systems Inc,CSCO,47.80,"22,056,434"
23,Chevron Corp,CVX,120.60,"8,735,068"
24,Home Depot,HD,219.96,"4,644,624"
25,Intel Corp,INTC,59.93,"16,597,279"
26,Mastercard Inc,MA,301.23,"3,196,966"
27,Micron Technology,MU,53.56,"17,900,941"
28,Johnson & Johnson,JNJ,144.10,"6,397,473"
29,McDonald's Corp,MCD,202.33,"4,520,302"
...,...,...,...,...
71,Starbucks Corp,SBUX,88.13,"5,350,269"
72,Abbott Laboratories,ABT,86.34,"5,448,940"
73,Raytheon Company,RTN,227.53,"2,047,129"
74,Pepsico Inc,PEP,136.15,"3,419,379"
75,Honeywell International Inc,HON,177.51,"2,611,656"
76,Marathon Petroleum Corp,MPC,58.22,"7,760,764"
77,Progressive Corp,PGR,75.67,"5,865,334"
78,Nike Inc,NKE,101.83,"4,321,771"
79,Newmont Mining Corp,NEM,43.26,"10,162,198"
80,Texas Instruments,TXN,126.96,"3,457,454"
81,Applied Materials,AMAT,60.00,"7,264,801"
82,Gilead Sciences Inc,GILD,65.65,"6,576,545"
83,Lowe's Companies,LOW,120.35,"3,570,333"
84,Servicenow Inc,NOW,292.87,"1,464,500"
85,Merck & Company,MRK,91.64,"4,664,344"
86,Truist Financial Corp.,TFC,55.73,"7,556,894"
87,Twilio,TWLO,107.46,"3,903,529"
88,Becton Dickinson and Company,BDX,273.38,"1,525,073"
89,Danaher Corp,DHR,154.61,"2,676,031"
90,Accenture Plc,ACN,208.43,"1,975,016"
91,L3Harris Technologies Inc,LHX,211.72,"1,929,966"
92,Charter Communicatio,CHTR,497.45,"818,386"
93,Twitter Inc,TWTR,31.64,"12,537,934"
94,Ford Motor Company,F,9.16,"42,625,023"
95,United Technologies Corp,UTX,153.68,"2,539,033"
96,Lennar Corp,LEN,58.05,"6,680,358"
97,U.S. Bancorp,USB,57.71,"6,713,893"
98,Lam Research Corp,LRCX,289.19,"1,328,028"
99,Anthem Inc,ANTM,300.45,"1,274,647"
100,Name,Symbol,Last,Volume

In [81]:
df.to_csv('stocks_large_cap.csv', index=False, encoding='utf-8')

In [19]:
# Importing the dataframe into mongodb

data = df.to_dict(orient='records')  # Here's our added param..

collection.insert_many(data)